{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; padding: 50px;">
        <h1 style="font-size: 3em; color: #ff6347;">Uh-Oh! Looks like we don't have that coffee here!</h1>
        <h5 style="font-size: 1.5em; color: #555;">404 Error: Bad Request. Looks like this page doesn't exist!</h5>
        <a href="/" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #ff6347; color: white; text-decoration: none; border-radius: 5px;">Go Back Home</a>
    </div>
{% endblock %}
