{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="mb-4">Admin Page</h1>
    <h2 class="mb-4">What section do you want to look at?</h2>
    
    <div class="d-grid gap-3 col-md-6 mx-auto">
        <a class="btn btn-primary btn-lg" href="/admin_earnings">Total Earnings</a>
        <a class="btn btn-primary btn-lg" href="/admin_logdata">Log Data</a>
        <a class="btn btn-primary btn-lg" href="/weekly_overview">Weekly Overview</a>
        <br />
        <a class="btn btn-secondary btn-lg" href="/admin_food">Food Info</a>
        <a class="btn btn-secondary btn-lg" href="/items_ordered">Items Ordered</a>
        <a class="btn btn-secondary btn-lg" href="/items_profit">Item Profits</a>
        <br />
        <a class="btn btn-danger btn-lg" href="/database_backup">Backup Database</a>
    </div>
</div>
{% endblock %}
