{% extends 'base.html' %}


{% block content %}
    
<div align="center" class="container">
    <h1>Admin Page</h1>

    <h2>What section do you want to look at?</h2>
    <br />
    <div class="d-grid gap-2 col-6 mx-auto">

        <a type="button" class="btn btn-primary" role="button" href="/admin_earnings">Total Earnings</a>
        <a type="button" class="btn btn-primary" role="button" href="/admin_logdata">Log Data</a>
        <br />
        <a type="button" class="btn btn-secondary" role="button" href="/admin_food">Food Info</a>

    </div>




</div>


{% endblock %}