{% extends 'base.html' %}




{% block content %}
    <div class="container shadow p-3 mb-5 bg-body rounded">
        <form action="/add" method="POST">
            <h2 align="center">
                Create a New Item.
            </h2>
            <br />
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Coffee Cake" name="item_name">
                <label for="floatingInput" >Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Coffee Cake" name="item_company">
                <label for="floatingInput" >Company</label>
            </div>


            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Coffee Cake" name="item_description">
                <label for="floatingInput" >Description</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="$.50" name="item_price">
                <label for="floatingInput" >Price</label>
            </div>
            
            <h6>*After its done it will generate a picture of the item</h6>
            <br />
            <button align="center" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
{% endblock %}