{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col" span=32>
            <h1>Food</h1>
            {% if not items %}
            <div align="center">
                <h6>Hey! There are no food items here.</h6>
                <h5>Press the button on the top toolbar to create some!</h5>
    
            </div>

            {% endif %}
            <div align="left" class="containejr shadow p-3 mb-5 bg-body rounded">
                <div class="row">
                    {% for item in items %}
                    <div class="col">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
                            <!-- <a href="/add_order/{{ item.id }}">
                                <img src="static/{{ item.item_name }}/choose.png" class="card-img-top" alt="{{ item.item_name }}" href="/">
                            </a> -->
                            
                            <div class="card-body">
                                <h5 class="card-title">{{ item.item_name }}</h5>
                                {% if item.item_food %}
                                    <p class="card-text"><b>FOOD ITEM: </b> {{item.item_description }}</p>
                                {% else %}
                                    <p class="card-text"><b>DRINK ITEM: </b> {{item.item_description }}</p>
                                {% endif %}
                              <b>Cost: ${{ item.item_price }} </b>
                              <br/>
                              <a type="button" class="btn btn-primary" href="/add_order/{{ item.id }}">Add</a>
                            </div>
                          </div>
                    </div>

        
                    {% endfor %}
                </div>
        
            </div>
        </div>

        <div class="col">
            <h1>Checkout</h1>
            {% if current_items %}
                {% for item in current_items %}
                    <b style="color: black">
                        +{{ item.item_name }}
                    </b>

                    <b style="color: green">
                        ${{ item.item_price }}
                    <br/>
                {% endfor %}
            <div style="float: left">
                <h4 >Total Cost: ${{ cost }}</h4>
            </div>
            <br/>
            <br/>
            <a href="/checkout" type="button" class="btn btn-success">Confirm</a>
            {% endif %}
        </div>
       
    </div>



    





{% endblock %}