{% extends 'base.html' %}


{% block content %}
    
<div align="center" class="container">

    <img src="static/images/blue_brew_logo.png" alt="Blue Brew Logo" width=230 height=127>
    <br />
    <br />
    <h1>Complete Overview for "{{ name }}"</h1>
        <h2>Current Price: <bold style="color: green">${{ price }}</bold></h2>
        <h2>Amount Sold: <bold style="color: green">{{ amount_bought }}</bold></h2>
        <h2>Total Profit: <bold style="color: green">${{ profit }}</bold></h2>
    <br/>
        <h3>Yearly Earnings: <bold style="color: green">${{ ye }}</bold></h3>
        <h3>Monthy Earnings: <bold style="color: green">${{ me }}</bold></h3>
        <h3>Weekly Earnings: <bold style="color: green">${{ we }}</bold></h3>
        <h3>Daily Earnings: <bold style="color: green">${{ de }}</bold></h3>
    <br/>
    <br/>


</div>


{% endblock %}