{% extends 'base.html' %}

{% block content %}
<div class="container-lg shadow p-3 mb-5 bg-body rounded" align="center">
    <h1 align="center"><bold>Tender</bold></h1>
    <form action="/confirm_tender"class="form-floating" method="POST">
        <h1>Cost: <z style="color: green"> ${{total_cost}} </z></h1>
        <input autofocus type="text" class="form-control" id="floatingInputValue" placeholder="$5.00" name="tendered">
        <label for="floatingInputValue">Tendered Amount</label>
        <br/>


    </form>
</div>


{% endblock %}